<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mahjong.server.dao.UpdateInfoMapper" >
  <resultMap id="BaseResultMap" type="com.mahjong.server.entity.UpdateInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="device_type" property="deviceType" jdbcType="TINYINT" />
    <result column="app_version" property="appVersion" jdbcType="REAL" />
    <result column="down_url" property="downUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, device_type, app_version, down_url
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mahjong.server.entity.UpdateInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from update_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from update_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCdt" resultMap="BaseResultMap" parameterType="com.mahjong.server.entity.UpdateInfo" >
    select 
    <include refid="Base_Column_List" />
    from update_info
    <where >
      <if test="deviceType != null" >
        and device_type = #{deviceType,jdbcType=TINYINT}
      </if>
      <if test="appVersion != null" >
        and app_version = #{appVersion,jdbcType=REAL}
      </if>
      <if test="downUrl != null" >
        and down_url = #{downUrl,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from update_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mahjong.server.entity.UpdateInfoExample" >
    delete from update_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mahjong.server.entity.UpdateInfo" >
     	<selectKey resultType="java.lang.Integer" keyProperty="ID" order="AFTER">
		SELECT LAST_INSERT_ID()
	</selectKey>
    insert into update_info (id, device_type, app_version, 
      down_url)
    values (#{id,jdbcType=INTEGER}, #{deviceType,jdbcType=TINYINT}, #{appVersion,jdbcType=REAL}, 
      #{downUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mahjong.server.entity.UpdateInfo" >
  <selectKey resultType="java.lang.Integer" keyProperty="ID" order="AFTER">
		SELECT LAST_INSERT_ID()
	</selectKey>
    insert into update_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceType != null" >
        device_type,
      </if>
      <if test="appVersion != null" >
        app_version,
      </if>
      <if test="downUrl != null" >
        down_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=TINYINT},
      </if>
      <if test="appVersion != null" >
        #{appVersion,jdbcType=REAL},
      </if>
      <if test="downUrl != null" >
        #{downUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mahjong.server.entity.UpdateInfoExample" resultType="java.lang.Integer" >
    select count(*) from update_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update update_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.deviceType != null" >
        device_type = #{record.deviceType,jdbcType=TINYINT},
      </if>
      <if test="record.appVersion != null" >
        app_version = #{record.appVersion,jdbcType=REAL},
      </if>
      <if test="record.downUrl != null" >
        down_url = #{record.downUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.mahjong.server.entity.UpdateInfo" >
    update update_info
    <set >
      <if test="deviceType != null" >
        device_type = #{deviceType,jdbcType=TINYINT},
      </if>
      <if test="appVersion != null" >
        app_version = #{appVersion,jdbcType=REAL},
      </if>
      <if test="downUrl != null" >
        down_url = #{downUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <select id="selectUpdateInfoByDeviceType" resultMap="BaseResultMap" parameterType="com.mahjong.server.entity.UpdateInfo" >
    select 
    <include refid="Base_Column_List" />
    from update_info where device_type = #{deviceType,jdbcType=TINYINT} and app_version &gt; #{appVersion,jdbcType=REAL}
  </select>
  
  
</mapper>