<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mahjong.server.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.mahjong.server.entity.UserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="weixin_mark" property="weixinMark" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="head_imgurl" property="headImgurl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="room_cart_num" property="roomCartNum" jdbcType="INTEGER" />
    <result column="room_cart_num_used" property="roomCartNumUsed" jdbcType="INTEGER" />
    <result column="score_num" property="scoreNum" jdbcType="INTEGER" />
    <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="login_times" property="loginTimes" jdbcType="INTEGER" />
    <result column="curr_room" property="currRoom" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, nick_name, weixin_mark, sex, head_imgurl, create_time, room_cart_num, room_cart_num_used, 
    score_num, last_login_ip, last_login_time, login_times, curr_room, state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mahjong.server.entity.UserInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCdt" resultMap="BaseResultMap" parameterType="com.mahjong.server.entity.UserInfo" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    <where >
      <if test="nickName != null" >
        and nick_name = #{nickName,jdbcType=VARCHAR}
      </if>
      <if test="weixinMark != null" >
        and weixin_mark = #{weixinMark,jdbcType=VARCHAR}
      </if>
      <if test="sex != null" >
        and sex = #{sex,jdbcType=TINYINT}
      </if>
      <if test="headImgurl != null" >
        and head_imgurl = #{headImgurl,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="roomCartNum != null" >
        and room_cart_num = #{roomCartNum,jdbcType=INTEGER}
      </if>
      <if test="roomCartNumUsed != null" >
        and room_cart_num_used = #{roomCartNumUsed,jdbcType=INTEGER}
      </if>
      <if test="scoreNum != null" >
        and score_num = #{scoreNum,jdbcType=INTEGER}
      </if>
      <if test="lastLoginIp != null" >
        and last_login_ip = #{lastLoginIp,jdbcType=VARCHAR}
      </if>
      <if test="lastLoginTime != null" >
        and last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}
      </if>
      <if test="loginTimes != null" >
        and login_times = #{loginTimes,jdbcType=INTEGER}
      </if>
      <if test="currRoom != null" >
        and curr_room = #{currRoom,jdbcType=INTEGER}
      </if>
      <if test="state != null" >
        and state = #{state,jdbcType=TINYINT}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mahjong.server.entity.UserInfoExample" >
    delete from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mahjong.server.entity.UserInfo" >
     	<selectKey resultType="java.lang.Integer" keyProperty="ID" order="AFTER">
		SELECT LAST_INSERT_ID()
	</selectKey>
    insert into user_info (id, nick_name, weixin_mark, 
      sex, head_imgurl, create_time, 
      room_cart_num, room_cart_num_used, score_num, 
      last_login_ip, last_login_time, login_times, 
      curr_room, state)
    values (#{id,jdbcType=INTEGER}, #{nickName,jdbcType=VARCHAR}, #{weixinMark,jdbcType=VARCHAR}, 
      #{sex,jdbcType=TINYINT}, #{headImgurl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{roomCartNum,jdbcType=INTEGER}, #{roomCartNumUsed,jdbcType=INTEGER}, #{scoreNum,jdbcType=INTEGER}, 
      #{lastLoginIp,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{loginTimes,jdbcType=INTEGER}, 
      #{currRoom,jdbcType=INTEGER}, #{state,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mahjong.server.entity.UserInfo" >
  <selectKey resultType="java.lang.Integer" keyProperty="ID" order="AFTER">
		SELECT LAST_INSERT_ID()
	</selectKey>
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="weixinMark != null" >
        weixin_mark,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="headImgurl != null" >
        head_imgurl,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="roomCartNum != null" >
        room_cart_num,
      </if>
      <if test="roomCartNumUsed != null" >
        room_cart_num_used,
      </if>
      <if test="scoreNum != null" >
        score_num,
      </if>
      <if test="lastLoginIp != null" >
        last_login_ip,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="loginTimes != null" >
        login_times,
      </if>
      <if test="currRoom != null" >
        curr_room,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="weixinMark != null" >
        #{weixinMark,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="headImgurl != null" >
        #{headImgurl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roomCartNum != null" >
        #{roomCartNum,jdbcType=INTEGER},
      </if>
      <if test="roomCartNumUsed != null" >
        #{roomCartNumUsed,jdbcType=INTEGER},
      </if>
      <if test="scoreNum != null" >
        #{scoreNum,jdbcType=INTEGER},
      </if>
      <if test="lastLoginIp != null" >
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTimes != null" >
        #{loginTimes,jdbcType=INTEGER},
      </if>
      <if test="currRoom != null" >
        #{currRoom,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mahjong.server.entity.UserInfoExample" resultType="java.lang.Integer" >
    select count(*) from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.nickName != null" >
        nick_name = #{record.nickName,jdbcType=VARCHAR},
      </if>
      <if test="record.weixinMark != null" >
        weixin_mark = #{record.weixinMark,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=TINYINT},
      </if>
      <if test="record.headImgurl != null" >
        head_imgurl = #{record.headImgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.roomCartNum != null" >
        room_cart_num = #{record.roomCartNum,jdbcType=INTEGER},
      </if>
      <if test="record.roomCartNumUsed != null" >
        room_cart_num_used = #{record.roomCartNumUsed,jdbcType=INTEGER},
      </if>
      <if test="record.scoreNum != null" >
        score_num = #{record.scoreNum,jdbcType=INTEGER},
      </if>
      <if test="record.lastLoginIp != null" >
        last_login_ip = #{record.lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="record.lastLoginTime != null" >
        last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.loginTimes != null" >
        login_times = #{record.loginTimes,jdbcType=INTEGER},
      </if>
      <if test="record.currRoom != null" >
        curr_room = #{record.currRoom,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mahjong.server.entity.UserInfo" >
    update user_info
    <set >
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="weixinMark != null" >
        weixin_mark = #{weixinMark,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="headImgurl != null" >
        head_imgurl = #{headImgurl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roomCartNum != null" >
        room_cart_num = #{roomCartNum,jdbcType=INTEGER},
      </if>
      <if test="roomCartNumUsed != null" >
        room_cart_num_used = #{roomCartNumUsed,jdbcType=INTEGER},
      </if>
      <if test="scoreNum != null" >
        score_num = #{scoreNum,jdbcType=INTEGER},
      </if>
      <if test="lastLoginIp != null" >
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTimes != null" >
        login_times = #{loginTimes,jdbcType=INTEGER},
      </if>
      <if test="currRoom != null" >
        curr_room = #{currRoom,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectUserInfoByWeiXinMark" resultMap="BaseResultMap" parameterType="string" >
    select 
    <include refid="Base_Column_List" />
    from user_info 
    where weixin_mark = #{weixinMark,jdbcType=VARCHAR}
  </select>
  
   <update id="deleteUserInfoByWeiXinMark" parameterType="string" >
    update user_info
     set state = 0
   	where weixin_mark = #{weixinMark,jdbcType=VARCHAR}
  </update>
  
   <update id="deleteUserInfoByID" parameterType="int" >
    update user_info
     set room_cart_num = #{roomCartNum,jdbcType=INTEGER},
   	where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateUserRoomCard" parameterType="map" >
   	update user_info 
    set	room_cart_num = room_cart_num + #{cartNum}
    where id = #{userId} AND room_cart_num + #{cartNum} >= 0 
  </update>
  
  <select id="selectAllUserCount" resultType="int" parameterType="map" >
    select 
   		count(1)
    from user_info
      where 1=1
	     <if test="userId != null" >
	     	and id = #{userId,jdbcType=INTEGER}
	     </if>
	     <if test="datemin != null" >
	     	and create_time <![CDATA[>= ]]>  #{datemin}
	     </if>
	     <if test="datemax != null" >
	     	and create_time  <![CDATA[<= ]]>#{datemax}
	     </if>
	     <if test="searchUname != null" >
	     	and nick_name like CONCAT('%',#{searchUname},'%')
	     </if>
    
  </select>
  
  
   <select id="selectAllUserLimit" resultMap="BaseResultMap" parameterType="map" >
	    select 
	    <include refid="Base_Column_List" />
	    from user_info
	    where 1=1
		   	<if test="userId != null" >
		     	and id = #{userId,jdbcType=INTEGER}
		     </if>
		     <if test="datemin != null" >
		     	and create_time <![CDATA[>= ]]>  #{datemin}
		     </if>
		     <if test="datemax != null" >
		     	and create_time  <![CDATA[<= ]]>#{datemax}
		     </if>
		     <if test="searchUname != null" >
		     	and nick_name like CONCAT('%',#{searchUname},'%')
		     </if>
		     <if test="start != null" >
		     	limit #{start,jdbcType=INTEGER},#{count,jdbcType=INTEGER}
		     </if>
  </select>
  
  
  
  
  
  
</mapper>