<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mahjong.server.dao.UserRoomRecordMapper" >
  <resultMap id="BaseResultMap" type="com.mahjong.server.entity.UserRoomRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="room_record_id" property="roomRecordId" jdbcType="INTEGER" />
    <result column="room_num" property="roomNum" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_direction" property="userDirection" jdbcType="TINYINT" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="operate_type" property="operateType" jdbcType="TINYINT" />
    <result column="user_ip" property="userIp" jdbcType="VARCHAR" />
    <result column="operate_cause" property="operateCause" jdbcType="VARCHAR" />
    <result column="win_times" property="winTimes" jdbcType="INTEGER" />
    <result column="lose_times" property="loseTimes" jdbcType="INTEGER" />
    <result column="hu_times" property="huTimes" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, room_record_id, room_num, user_id, user_direction, operate_time, operate_type, 
    user_ip, operate_cause, win_times, lose_times, hu_times
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mahjong.server.entity.UserRoomRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_room_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_room_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCdt" resultMap="BaseResultMap" parameterType="com.mahjong.server.entity.UserRoomRecord" >
    select 
    <include refid="Base_Column_List" />
    from user_room_record
    <where >
      <if test="roomRecordId != null" >
        and room_record_id = #{roomRecordId,jdbcType=INTEGER}
      </if>
      <if test="roomNum != null" >
        and room_num = #{roomNum,jdbcType=INTEGER}
      </if>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="userDirection != null" >
        and user_direction = #{userDirection,jdbcType=TINYINT}
      </if>
      <if test="operateTime != null" >
        and operate_time = #{operateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="operateType != null" >
        and operate_type = #{operateType,jdbcType=TINYINT}
      </if>
      <if test="userIp != null" >
        and user_ip = #{userIp,jdbcType=VARCHAR}
      </if>
      <if test="operateCause != null" >
        and operate_cause = #{operateCause,jdbcType=TINYINT}
      </if>
      <if test="winTimes != null" >
        and win_times = #{winTimes,jdbcType=INTEGER}
      </if>
      <if test="loseTimes != null" >
        and lose_times = #{loseTimes,jdbcType=INTEGER}
      </if>
      <if test="huTimes != null" >
        and hu_times = #{huTimes,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_room_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mahjong.server.entity.UserRoomRecordExample" >
    delete from user_room_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mahjong.server.entity.UserRoomRecord" >
    insert into user_room_record (id, room_record_id, room_num, 
      user_id, user_direction, operate_time, 
      operate_type, user_ip, operate_cause, 
      win_times, lose_times, hu_times
      )
    values (#{id,jdbcType=INTEGER}, #{roomRecordId,jdbcType=INTEGER}, #{roomNum,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{userDirection,jdbcType=TINYINT}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{operateType,jdbcType=TINYINT}, #{userIp,jdbcType=VARCHAR}, #{operateCause,jdbcType=TINYINT}, 
      #{winTimes,jdbcType=INTEGER}, #{loseTimes,jdbcType=INTEGER}, #{huTimes,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mahjong.server.entity.UserRoomRecord" >
    insert into user_room_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roomRecordId != null" >
        room_record_id,
      </if>
      <if test="roomNum != null" >
        room_num,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userDirection != null" >
        user_direction,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
      <if test="operateType != null" >
        operate_type,
      </if>
      <if test="userIp != null" >
        user_ip,
      </if>
      <if test="operateCause != null" >
        operate_cause,
      </if>
      <if test="winTimes != null" >
        win_times,
      </if>
      <if test="loseTimes != null" >
        lose_times,
      </if>
      <if test="huTimes != null" >
        hu_times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomRecordId != null" >
        #{roomRecordId,jdbcType=INTEGER},
      </if>
      <if test="roomNum != null" >
        #{roomNum,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userDirection != null" >
        #{userDirection,jdbcType=TINYINT},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateType != null" >
        #{operateType,jdbcType=TINYINT},
      </if>
      <if test="userIp != null" >
        #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="operateCause != null" >
        #{operateCause,jdbcType=TINYINT},
      </if>
      <if test="winTimes != null" >
        #{winTimes,jdbcType=INTEGER},
      </if>
      <if test="loseTimes != null" >
        #{loseTimes,jdbcType=INTEGER},
      </if>
      <if test="huTimes != null" >
        #{huTimes,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mahjong.server.entity.UserRoomRecordExample" resultType="java.lang.Integer" >
    select count(*) from user_room_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_room_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.roomRecordId != null" >
        room_record_id = #{record.roomRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.roomNum != null" >
        room_num = #{record.roomNum,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.userDirection != null" >
        user_direction = #{record.userDirection,jdbcType=TINYINT},
      </if>
      <if test="record.operateTime != null" >
        operate_time = #{record.operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operateType != null" >
        operate_type = #{record.operateType,jdbcType=TINYINT},
      </if>
      <if test="record.userIp != null" >
        user_ip = #{record.userIp,jdbcType=VARCHAR},
      </if>
      <if test="record.operateCause != null" >
        operate_cause = #{record.operateCause,jdbcType=TINYINT},
      </if>
      <if test="record.winTimes != null" >
        win_times = #{record.winTimes,jdbcType=INTEGER},
      </if>
      <if test="record.loseTimes != null" >
        lose_times = #{record.loseTimes,jdbcType=INTEGER},
      </if>
      <if test="record.huTimes != null" >
        hu_times = #{record.huTimes,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mahjong.server.entity.UserRoomRecord" >
    update user_room_record
    <set >
      <if test="roomRecordId != null" >
        room_record_id = #{roomRecordId,jdbcType=INTEGER},
      </if>
      <if test="roomNum != null" >
        room_num = #{roomNum,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userDirection != null" >
        user_direction = #{userDirection,jdbcType=TINYINT},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateType != null" >
        operate_type = #{operateType,jdbcType=TINYINT},
      </if>
      <if test="userIp != null" >
        user_ip = #{userIp,jdbcType=VARCHAR},
      </if>
      <if test="operateCause != null" >
        operate_cause = #{operateCause,jdbcType=TINYINT},
      </if>
      <if test="winTimes != null" >
        win_times = #{winTimes,jdbcType=INTEGER},
      </if>
      <if test="loseTimes != null" >
        lose_times = #{loseTimes,jdbcType=INTEGER},
      </if>
      <if test="huTimes != null" >
        hu_times = #{huTimes,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="selectUserRoomRecordInfoByUserID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_room_record
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  
  
   <select id="selectLatestUserRoomRecordInfo" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from user_room_record
    where user_id = #{userId,jdbcType=INTEGER}
    order by joinTime desc
   	limit 0,#{topNum,jdbcType=INTEGER} 
  </select>
  
  
  
  
  
  
  
    
  <select id="getUserPlayRecordInfoCount" resultType="int" parameterType="map" >
    select 
   		count(1)
    from user_room_record
      where 1=1
	     <if test="userId != null" >
	     	and user_id = #{userId,jdbcType=INTEGER}
	     </if>
	     <if test="roomNum != null" >
	     	and  room_num = #{roomNum,jdbcType=INTEGER}
	     </if>
	     <if test="datemin != null" >
	     	and operate_time <![CDATA[>= ]]>  #{datemin}
	     </if>
	     <if test="datemax != null" >
	     	and operate_time  <![CDATA[<= ]]>#{datemax}
	     </if>
    
  </select>
  
  
   <select id="getUserPlayRecordInfoLimit" resultMap="BaseResultMap" parameterType="map" >
	    select 
	    <include refid="Base_Column_List" />
	    from user_room_record
	    where 1=1
		   	 <if test="userId != null" >
		     	and user_id = #{userId,jdbcType=INTEGER}
		     </if>
		     <if test="roomNum != null" >
		     	and  room_num = #{roomNum,jdbcType=INTEGER}
		     </if>
		     <if test="datemin != null" >
		     	and operate_time <![CDATA[>= ]]>  #{datemin}
		     </if>
		     <if test="datemax != null" >
		     	and operate_time  <![CDATA[<= ]]>#{datemax}
		     </if>
		     <if test="start != null" >
		     	limit #{start,jdbcType=INTEGER},#{count,jdbcType=INTEGER}
		     </if>
  </select>
  
  
   <select id="selectUserRoomRecordInfoByRoomId" resultMap="BaseResultMap" parameterType="int" >
	    select 
	    <include refid="Base_Column_List" />
	    from user_room_record
	    where
	     <if test="roomid != null" >
	     	 room_record_id = #{roomid,jdbcType=INTEGER}
	     </if>
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>